<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<META http-equiv="Content-Style-Type" content="text/css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	      
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	      
	<title>OSDP Applications List</title>
 	
	<link rel="stylesheet" type="text/css" href="./theme/main.css">
	<link rel="stylesheet" type="text/css" href="./theme/leftmenu.css">
	<link rel="stylesheet" type="text/css" href="./theme/style.css">
	<link rel="stylesheet" type="text/css" href="./theme/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="./theme/cus.css">
	
	<script src="./js/jquery-3.3.1.min.js"></script>
	<!-- variables: generalholidays, ngeneralholidays, appListDefaultRowStyle, appListRowStyle -->
	<script src="./js/applistrowstyleindex.js"></script>
	
	<script>
		var contentManager = {
			elementTag : {
				appProvider : '#appProvider#',
				appUrl : '#appUrl#'
			},
			createContent : function(json) {
				this.createLoginContent(json);
				this.createAppListContent($("#remoteAppList"), json.remoteAppList);
				this.createAppListContent($("#localAppList"), json.localAppList);
				this.createPopup(json);
			},
			createLoginContent : function(json) {
                var unauthorizedAccess = $("#unauthorizedAccess");
                unauthorizedAccess.before("<p>Hello! " + (json.requestHeader.CN || "") + "</p>");
                
                if (json.showPasswordExpirationTime) {
                	unauthorizedAccess.before("<p style='color:RED'>Your password is going to expire in " +
						json.passwordExpirationDays + "' days, please change your password immediately</p>");
                }
				if (json.showLastFailLoginTime) {
					unauthorizedAccess.before("<p>Last Unsuccessful Login Time : " + json.displayLastFailLoginTime + "</p>");
				}
				if (json.showLastLoginTime) {
					unauthorizedAccess.before("<p>Last Login Time : " + json.displayLastLoginTime + "</p>");
				}
			},
			createAppListContent : function(table, appList) {
				if (!appList) { // appList may be empty, i.e. remote if exception 
					table.append(appListDefaultRowStyle
						.replace(this.elementTag.appProvider, 'ERROR')
						.replace(this.elementTag.appUrl, 'ERROR')
					);
					return;
				}
				for (let i = 0; i < appList.length; i++){
					var app = appList[i];
					var rowStyle = (appListRowStyle[app.dp_app_desc] || appListDefaultRowStyle);

					rowStyle = rowStyle.replace(this.elementTag.appProvider, app.dp_domain_abbr);
					if ("1.1" == app.saml) {
						rowStyle = this.createAppUrlContentSaml11(table, app, rowStyle);
					} else { // or 2.0
						rowStyle = this.createAppUrlContentSaml20(table, app, rowStyle);
					} // other than 1.1 and 2.0, not included in the list
					table.append(rowStyle);
				}
			},
			createAppUrlContentSaml11 : function(table, app, rowStyle) {
				return rowStyle.replace(this.elementTag.appUrl,
					"<a href=\"javascript:launchApp('" + app.appUrl + "')\">" + app.dp_app_desc + "</a>");
			},
			createAppUrlContentSaml20 : function(table, app, rowStyle) {
				if ("CSP" == app.dp_domain_abbr) {
					return rowStyle.replace(this.elementTag.appUrl,
						"<a onclick=\"javascript:launchApp('" + app.appUrl + "')\">" + app.dp_app_desc + "</a>");
				} else {
					return rowStyle.replace(this.elementTag.appUrl,
						"<a href=\"javascript:launchApp('" + app.appUrl + "')\" " +
						"onclick=\"" + app.appAuditFunction + "\">" + app.dp_app_desc + "</a>");
				} // skip if appUrl is not generated by backend
			},
			createPopup : function(json) {
				var applistUrl = window.location.href;
				var popupReference = window.open("dp_popup.jsp?applistUrl=" + applistUrl +
					"&welcomeURL=" + json.welcomeUrl + "&SLOUrl=" + json.sloUrl +
					"&uid=" + json.uid + "&changePasswordURL=" + json.changePasswordUrl,
					"Popup", "fullscreen=no,toolbar=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=400");
				popupReference.focus();
			}
		};

		function writeLog(data1, data2, data3, data4){
			$.ajax({
		    	type: "POST",
				url: 'WriteAuditLogServlet',
				data: { 
					uid : data1.toString(), 
					clientIp : data2.toString(), 
					userAgent : data3.toString(), 
					spEntityID : data4.toString() 
				},
				success : function(responseText){
		        }
		    });
		    return true;
		}

		function launchApp(url)	{
			//Comment out the either One Option
			window.open(url,"SubWindow","width=1024,height=768,resizable=yes"); //Option 1. for pop-up window - parameters updated in version 3.5
			//window.location = url; //Option 2. for same window
		}
	
		$(document).ready(function(){
			var winUrl = window.location.href;
			var contextName = "applist";
			var contextNameIndex = winUrl.indexOf(contextName);
			var appListServletUrl = winUrl.substring(0, contextNameIndex + contextName.length) + '/AppListServlet';

			$.ajax({
		    	type: "GET",
		    	dataType: "json",
				url: appListServletUrl,
				data: { 
				},
				success : contentManager.createContent.bind(contentManager),	// bind 'this' to contentManager
		        error: function(xhr, status, error) {
		            var errorMessage = xhr.status + ': ' + xhr.statusText
		            console.log('Error:');
		            console.log(errorMessage);
		            alert('Failed to retrieve app list.');
		        }
		    });
	    
		});
	</script>
</head>
<body>
	<div id="wrapper" class="clearfix">
      <div id="container" class="clearfix">
		<header>
          <img src="./images/banner_smartcity_1.jpg" alt="Replace or remove this logo" class="header_banner">
		      <img alt="香港特別行政區政府,政府資訊科技總監辦公室" src="./images/logo-main-tc.png" class="header-logo__long">
        </header>
		<div id="content" class="clearfix">
			<form class="form form--user">
				<div class="container" class="clearfix">
					<div class="inner-content">
						<div id="form__field" class="form__field">
							<div class="form__field-body">
								<div class="form__field-col">
									<h2 class="page-title">Welcome to Departmental Portal Applications List</h2>
								</div>
							</div>
 						</div>
						<p id="unauthorizedAccess">Please note that unauthorized access is forbidden to access this AppList and application.</p>
						<h3>Remote Applications List</h3>
						<table id="remoteAppList" class="table table-bordered table-hover table--user-account" style="width: 802px;">
							<tr>
								<th>Provider</th>
								<th>URL</th>
							</tr>
						</table>
						<br>
						<h3>Local Applications List</h3>
						<table id="localAppList" class="table table-bordered table-hover table--user-account" style="width: 802px;">
							<tbody></tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
      <footer>
        <div class="container container-footer">
			<div class="footer__bottom">
				<div class="footer__logos">
					&nbsp;
				</div>
				<div class="footer__copyright">
					<span>© 2019 Office of the Government Chief Information Officer</span><span class="footer__bottom-sp">|</span>
					<span>Last Review Date : </span><span id="revisionDate">12 September 2019</span>
				</div>
			</div>        
		</div>
      </footer>
	</div>
</div>
</body>
</html>